<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>com.Metehan.WelcomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VideosServlet</servlet-name>
		<servlet-class>com.Metehan.VideosServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>VideosServlet</servlet-name>
		<url-pattern>/VideosServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.Metehan.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>com.Metehan.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/DispatcherServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ValidateServlet</servlet-name>
		<servlet-class>com.Metehan.ValidateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ValidateServlet</servlet-name>
		<url-pattern>/ValidateServlet</url-pattern>
	</servlet-mapping>
	
</web-app>